#ErrorDocument 404 /pcshop/404.html
#ErrorDocument 403 /pcshop/403.html
#ErrorDocument 500 /pcshop/500.html

#RewriteEngine On
#RewriteBase /pcshop/

# Запрет просмотра содержимого папок
#Options -Indexes

# Если кто-то пытается открыть папку - показываем 403
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^ - [R=403,L]